body {
    background-color:#EAF6F6; 
}

table {
  margin-left:560px;
  text-align: left;
}

h1 { 
   color: #66BFBF;
   font-family:'Sacramento', cursive;
}

h3 { 
  color: #66BFBF;
  
  font-family:'Sacramento', cursive;
  text-align: center; 
}

hr { 
  border-style: none;
  border-top-style: dotted;
  border-color:#66BFBF;
  border-width: 6px;
  width: 150px;
  margin-left: 594px; 
}

a {
  text-decoration: none;
  text-align: center;
}
.jaoo {
  margin-left: 580px;
}




