body {
    background-color:#EAF6F6;
   
}

table {
  margin-left:560px;
  text-align: left;
 
 }

h1 { 
   color: #66BFBF;
}

h3 { 
  color: #66BFBF;
 
}

hr { 
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  width: 100%;
  margin-left: 620px;
}

a {
  text-decoration: none;
  text-align: center;
}

.jaoo {
  margin-left: 580px;
}

.skills {
margin-left:647px ;
}


.work {
  margin-left:600px;
}
